# APP
STT_SECRET_KEY=STT_SECRET_KEY
STT_BASE_URL=
STT_CONFIRMATION_URL=
STT_RECOVERY_URL=
STT_ACCESS_TOKEN_MINUTES=
STT_REFRESH_TOKEN_DAYS=

# PostgreSQL
STT_DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/stt
