# RUN
LOCAL_DEV=
DEBUG=
SERVER_WORKERS=
SERVER_WORKER_THREADS=
SERVER_PORT=

# APP
SECRET_KEY=
BASE_URL=
ACCESS_TOKEN_MINUTES=
REFRESH_TOKEN_DAYS=

# PostgreSQL
DATABASE_URL=
DB_POOL_SIZE=
DB_MAX_OVERFLOW=

# SMTP
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=
EMAIL_FROM=

# S3
S3_DIRECTORY=
S3_PREFIX=
S3_URL=
S3_PUBLIC_URL=
S3_ACCESS_KEY=
S3_SECRET_KEY=
S3_BUCKET=
